/* index.css */

/* Navbar */
.navbar {
  background-color: #333;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

.navbar-link {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

.navbar-link:hover {
  color: #ff4500; /* change to your preferred hover color */
}

/* Home */
.home {
  text-align: center;
  margin-top: 30px;
}

.home h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.home p {
  font-size: 18px;
}

/* Lessons */
.lessons {
  margin-top: 30px;
}

.lesson-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  background-color: #f9f9f9;
}

.lesson-card h2 {
  font-size: 24px;
  margin-bottom: 5px;
}

.lesson-card p {
  font-size: 16px;
}

/* Coaching */
.coaching {
  margin-top: 30px;
}

.coach-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  background-color: #f9f9f9;
}

.coach-card h2 {
  font-size: 24px;
  margin-bottom: 5px;
}

.coach-card p {
  font-size: 16px;
}
